body{
    font-size: 35px;
	background-color: rgb(100, 109, 126);
}

* {
	box-sizing: border-box;
	color: midnightblue;
}

#wrapper {
	width: 1890px;
	margin: 30px auto;
	border: 4px solid rgb(119, 128, 151);
}
#header {
	height: 250px;
	padding: 20px;
	border: 4px solid rgb(119, 128, 151);
	text-align: center;
}

#header > img{
    width: 80%;
	height: 100%;
}
#container {
	display: flex;
}
#books {
	display: flex;
	grid-template-columns: repeat(3, 1fr);
	width: 1606px;
	padding: 20px;
	border: 4px solid rgb(119, 128, 151);
	flex-wrap: nowrap;
	justify-content: center;
}

#left {
	width: 350px;
	margin-right: 15px;
	padding: 20px;
	border: 4px solid rgb(119, 128, 151);
}

#menu {
	display: flex;
    flex-direction: column;
}
#menu a {
	margin-right: 5px;
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: black;
	border: 1px solid rgb(142, 72, 58);
	background-color: rgb(193, 98, 79);
}
#menu a:hover, #menu a.active {
	color: white;
	border: 1px solid rgb(218, 110, 88);
	background-color: rgb(255, 148, 102);
}

#footer {
	height: 150px;
	padding: 20px;
	border: 4px solid rgb(119, 128, 151);
	text-align: center;
}
.book {
    display: flex;
    text-align: center;
    border-radius: 5%;
	border: 4px solid rgb(119, 128, 151);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.foto >a> img{
	height: 100%;
    width: 30%;
	transition: width 2s ease 1s;
}
.book:hover{
	cursor: pointer;
	border: 0px;
	background-color: rgb(100, 109, 126);
	filter: drop-shadow(0 0 25px yellow);

}
.book:hover > .foto>a>img{
	width:50%;
	height:100%;
}
.book:hover > .ustal{
	filter: hue-rotate(150deg) ;
}
#GS{
	text-decoration:underline;
	color:khaki;
}
#GS:hover{
	text-decoration:underline;
	cursor: pointer;
}

p {
	-webkit-text-stroke: 1px white;
	text-stroke: 1px white;
	background-color: #467CBC;
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	font-family: Arial;
	border-radius: 5%;
}

a {
	text-decoration: none;
	color: midnightblue;
	letter-spacing: 4px;
}
a:hover{
	cursor: pointer;
	color:chartreuse;
	letter-spacing: 4px;
}

#cnop{
	display: flex;
	align-self: center;
	justify-content: center;
}

Button{
	height: 50px;
	width: 150px;
	transition: width 2s ease 1s;
	background-color: rgb(167, 180, 197);
	border: 2px solid rgb(19, 102, 204);
	color: white;
	
}
Button:hover{
	width: 300px;
}
h4{
	height: 100px;
	letter-spacing: 4px;
}
